{% extends "GameTimeApp/padre.html" %}
{% load static %}

{% block title %}
<title>Contacto Game Time</title>
{% endblock %}

{% block tituloheader %}
                    <h1 class="display-4 fw-bolder">Game Time</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Canales de contacto y reservaciones</p>
{% endblock %}
{% block productos %}
<br>
<center><h3 class="font">A continuación indiquenos su consulta, o realice una reserva indicando lugar, fecha, y hora del evento requeridas.</h3></center>
<br><br>
<form action="{% url 'contacto'%}" method="POST">{% csrf_token %}
    <p>Asunto: <input type="text" name="asunto"></p>
    <p>Email: <input type="text" name="email"></p>
    <p>Mensaje: <textarea name="mensaje" rows="15" cols="40"></textarea></p>
    <input type="submit" value="Enviar">
</form>
<br>
<center><h3>Siganos en nuestras redes sociales para mas información</h3>
<h4>
    <ul>
        <a href="https://www.Facebook.com" target="_">Facebook</a>
        <a href="https://www.Instagram.com" target="_">Instagram</a>
        <a href="https://www.Youtube.com" target="_">Youtube</a>

        
    </ul>	
</h4>
</center>
<br><br>
{% endblock %}