{% extends "GameTimeApp/padre.html" %}
{% load static %}

{% block title %}
<title>Game Time Eventos</title>
{% endblock %}
{% block tituloheader %}
                    <h1 class="display-4 fw-bolder">Game Time</h1>
                    <p class="lead fw-normal text-white-50 mb-0"></p>
{% endblock %}
{% block productos %}
<h3>Listado de usuarios registrados</h3>
<br>
<br>

{% for Evento in eventos %}
<ul>
    <li>
    <h4>{{Event.nombre}}</h4>
    <h4>{{Event.apellido}}</h4>
    <h4>{{Event.fecha}}</h4>
    <h4>{{Event.descripcion}}</h4>
    <h4>{{Event.ubicacion}}</h4>
    <h4>{{Event.created_at}}</h4>
    <h4>{{Event.updated_at}}</h4>
    </li>
</ul>
{% endfor %}

<br>
<br>
<center><button class="btn btn-outline-dark" ><a class="link" href="{% url 'vistaSuperUser' %}">Volver</a></button></center>
<br>

{% endblock %}