{% extends "GameTimeApp/padre.html" %}
{% load static %}

{% block title %}
<title>F.A.Q'S</title>
{% endblock %}

{% block tituloheader %}
                    <h1 class="display-4 fw-bolder">Game Time</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Preguntas frecuentes</p>
{% endblock %}

{% block productos %}
<br>
<!-- <h1>BUSCANDO FAQ</h1> -->

<h3 class="font">Preguntas frecuentes de los usuarios:</h3>
<br>
<h5 class="font">
    {% for faq in object_list %}
    <li><b>{{faq.pregunta}}</b><br>{{faq.respuesta}}</li><br>
    {% endfor %}

</h5>
<br>
<br>
<br>
{% endblock %}