{% extends "GameTimeApp/padre.html" %}
{% load static %}

{% block title %}
<title>Game Time Eventos</title>
{% endblock %}

{% block tituloheader %}
                    <h1 class="display-4 fw-bolder">Game Time</h1>
                    <p class="lead fw-normal text-white-50 mb-0"></p>
{% endblock %}
{% block productos %}
        <section>
            <center>
                <h1>
                Gracias por contactarnos. <br> Responderemos su consulta a la brevedad
                </h1>
            </center>
        </section>
{% endblock %}