{% extends "GameTimeApp/padre.html" %}
{% load static %}

{% block title %}
<title>Game Time Eventos</title>
{% endblock %}
{% block tituloheader %}
                    <h1 class="display-4 fw-bolder">Login</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Por favor ingrese sus datos de usuario</p>
{% endblock %}
{% block productos %}
<br>
<br>
<br>
<center>
<form action="" method="POST">

    {% csrf_token %}
    {{form.as_p}}
    
    <button type="submit">Iniciar sesion</button>
    
    </form>
<br>
<br>
<br>
</center>
{% endblock %}



    