{% extends "GameTimeApp/padre.html" %}
{% load static %}

{% block title %}
<title>Game Time Eventos</title>
{% endblock %}

{% block tituloheader %}
                    <h1 class="display-4 fw-bolder">Juegos</h1>
                    <p class="lead fw-normal text-white-50 mb-0"> Toro mecánico</p>
{% endblock %}
{% block productos %}
        <section class="py-5">
            <div class="container px-4 px-lg-5 mt-5">
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                    <div class="col mb-5">
                        <div class="card h-10">
                            <!-- Product image-->
                            <img class="card-img-top" src="https://www.eventosaxarquia.com/images/castillos/toro-mecanico.jpg" alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">IMAGEN EVENTOS</h5>

                                </div>
                            </div>

                        </div>
                    </div>
                    
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top" src="https://partfy.ams3.digitaloceanspaces.com/frontend/user_files/images/5324/tmb_hqdefault-_7217.jpg" alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">IMAGEN EVENTOS</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top" src="https://cdn1.yumping.com.mx/emp/fotos/6/4/8/0/4/tm_p-64804-toro-mecanico-para-ambientar-tu-fiesta_15837724884464.jpg" alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">IMAGEN EVENTOS</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top" src="http://delieventosempresariales.weebly.com/uploads/6/2/5/5/62551685/4772293.jpg" alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">IMAGEN EVENTOS</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <center><button class="btn btn-outline-dark" ><a class="link" href="{% url 'contacto' %}">Contacto</a></button></center>

            
        </section>
{% endblock %}